<!DOCTYPE html>
<html>
  <head>
    <title>Guess Page</title>
    <link rel='stylesheet' href='/stylesheets/guess.css'>
  </head>
  <body>
    <h1>
        |Guess Page
    </h1>
    <form action="" method="post">
        <div style="font-weight:bold">Your Guess：</div>
        <div>Draw # </div>
        <div>Your ID：#{id}</div>
        <div>Guess Number：<input type="text" name="user_guess_number"></div>
        <div>Adress :<input type="text" name = "user_address"></div>
        <input type="submit">
    </form>
    <p>

    <div style="font-weight:bold">Your Guess Result：</div>
    <div>Guess Draw：#{Draw}</div>
    <div>Guess Number：#{number}</div>
    </p>
    
    

    <script src="/javascripts/guess.js" type="text/javascript"></script>
  </body>
</html>
