<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel='stylesheet' href='/stylesheets/index.css'>
  </head>
  <body>
    <h1>
      |Home Page
    </h1>
    <p class="para" id="p1">
      |p1 Welcome to Home Page
    </p>
    <p class="para">
      |p2 Welcome to Home Page
    </p>
    |#{title}

    <button onclick="change_color()">
      |Bang
    </button>
    <a href="/register">
      |register page
    </a>

    <script src="/javascripts/index.js" type="text/javascript"></script>
  </body>
</html>