<!DOCTYPE html>
<html>
  <head>
    <title>Lottery Page</title>
    <link rel='stylesheet' href='/stylesheets/lottery.css'>
  </head>
  <body>
    <h1>
        |Lottery Page
    </h1>
    <form action="" method="post">
        <input type="submit">
    </form>
    |#{draw}
    <br>
    |#{number}
    <script src="/javascripts/lottery.js" type="text/javascript"></script>
  </body>
</html>
