<!DOCTYPE html>
<html>
  <head>
    <title>Result Page</title>
    <link rel='stylesheet' href='/stylesheets/result.css'>
  </head>
  <body>
    <h1>
        |Result Page
    </h1>
    table(style='width:50%', border='1')
      tr
        th Draw
        th Number
      tr
        td rows[0][0]
        td rows[0][1]
      tr
        td 002
        td 6
      tr
        td 003
        td 1
    |#{rows}
    <script src="/javascripts/result.js" type="text/javascript"></script>
  </body>
</html>
